<style>
    .panel-header {
      font-size: 0.8rem !important;
    }
</style>
<%= form_for "set_fixed_proxies_form", builder: ActiveAdmin::FormBuilder, :url =>target_url, :method => :post  do |f| %>
<div class='panel'>
    <h3 class='panel-header'>Active Proxies</h3>
    <div class="panel_contents">    
      <table border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th> Host Name </th>
            <th> IP </th>
            <th> State </th>
          </tr>
        </thead>
        <tbody>
</tbody>
      </table>
    </div>
  </div>
<div class='panel'>
    <h3 class='panel-header'>Edit Selected Proxies</h3>
    <div class="panel_contents">
      <table border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th> Select Proxies </th>
            <th> Active </th>
            <th> Host Name </th>
            <th> Region </th>
            <th> IP </th>
            <th> State </th>
          </tr>
        </thead>
        <tbody>
</tbody>
      </table>
    </div>
  </div>

