<style>
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #ECECEC;
  color: #555;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.Timeline {
  display: flex;
  align-items: center;
}

.event1,
.event2 {
  position: relative;
  display: none;
}

.DayDigit {
  font-size: 27px;
  font-family: "Arial Black", Gadget, sans-serif;
  margin-left: 10px;
  color: #4C4A4A;
}

.Day {
  font-size: 11px;
  margin-left: 5px;
  font-weight: bold;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #4C4A4A;
}

.MonthYear {
  font-weight: 600;
  line-height: 10px;
  color: #9E9E9E;
  font-size: 9px;
}

.eventTitle {
  font-family: "Arial Black", Gadget, sans-serif;
  color: #a71930;
  font-size: 11px;
  text-transform: uppercase;
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 12px;
  margin-top: -2px;
}

.time {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  width: 50px;
  font-size: 8px;
  margin-top: -3px;
  margin-left: -5px;
  color: #9E9E9E;
}

.time2{
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  width: 50px;
  font-size: 8px;
  margin-top: -31px;
  margin-left: -5px;
  color: #9E9E9E;
}
</style>

<% data =  V2::Website.where(:cms => "wordpress").first.timeline(7.days.ago, 0.days.ago) %>
<% data.each do |key, value| %>
  <ul><h2 style="margin-top : 100px"> <%= "#{key}" %> </h2></ul>

  <div class="Timeline">
    <% test = 1%>
    <% size = 800 / (value.count*value.count) %>
    <% value.each do |status| %>

      <svg height="3" width=<%= size%>>
        <line x1="0" y1="0" x2="200" y2="0" style="stroke:#004165;stroke-width:5" />
      </svg>

      <% if status == true  %>
        <div class="tooltip">
          <svg height="20" width="20">
            <circle cx="10" cy="11" r="5" fill="#228B22" />
          </svg>   
          <span class="tooltiptext">Test  <%= test%></span>
        </div>
      <% else %>
        <div class="tooltip">
          <svg height="20" width="20">
            <circle cx="10" cy="11" r="5" fill="#FF0000" />
          </svg>    
          <span class="tooltiptext">Test <%= test%></span>
        </div>
      <% end %>
      <% test += 1 %>
    <% end %>

    <svg height="3" width="20">
      <line x1="0" y1="0" x2="200" y2="0" style="stroke:#004165;stroke-width:5" />
    </svg>
  </div>
<% end %>

