<table>
  <thead><th>Field</th><th>Test1</th><th>Test2</th></thead>
  <tbody>
    <tr>
      <td> Cloudflare </td>
      <td><%= data[:data_1][:cloudflare] %></td>
      <td><%= data[:data_2][:cloudflare] %></td>
      </tr>
  </tbody>
</table>

